*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Serif', serif;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 60px 0;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    transition: 1s;
}

a:hover {
    cursor: pointer;
    color: grey;
}

p, h2 {
    color: white;
}

.textoGlosario, .parrafo-descripcion {
    display: flex;
    text-align: start;
    color: white;
    margin: .5rem;
}

.textoHistoria {
    display: flex;
    text-align: start;
    color: white;
    text-indent: 3em;
} 

hr {
    margin: 10px;
}

button {
    background-color: transparent;
    border: none;
}

.hamburger {
    display: none;
    width: 30px;
    height: 30px;
}

.header {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.404) 0%, rgba(0, 0, 0, 0.377) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.356) 0%, rgba(0, 0, 0, 0.397) 100%), url(../img/bar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.menu-navegacion {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
}

.links-nav {
    flex-direction: row;
    font-size: 20px; 
}

#img-inicio {
    width: 600px;
    height: 600px;
    padding: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn-footer {
    display: flex;
    margin: auto;
    gap: 2rem;
    align-items: center;
}

#btn-volver-arriba:hover {
    color: white;
}

.imagenes {
    width: 660px;
    height: 600px;
    padding: .5rem;
}

.contenedor-img-descripcion {
    display: grid;
    grid-template-columns: 670px 600px;
    height: 600px;
}

.descripcion-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border:1px solid white;
    margin: .5rem;
}